@media (max-width:1250px) {

    .header-bottom{
        gap: 17px !important;
        button{
            font-size: 0.7rem;
        }
    }
    
}
@media (max-width:1147px) {

    .header-bottom{
        gap: 17px !important;
    }
    
}



@media (max-width:1107px) {

    .header-bottom{
        gap: 17px !important;
     
    }
    
}

